<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitHub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04F5704C22E8B51B0034B1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F5706022E8B51D0034B1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F5706B22E8B51D0034B1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
